.gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
    width: 100%;
}

.gridItem {
    border: solid #fff 1px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}

.gridItem:nth-child(1) {
    grid-column: span 3;
}